<div class="[ cq--post-preview ]">
  <article class="post-preview">
    <div class="post-preview__meta">
      {% if tag %}
        <a href="{{ tagSlug }}" class="tag">{{ tag.title }}</a>
      {% endif %}
      <span class="post-preview__meta-item">{{ readingTime }} minute read</span>
      <span class="post-preview__meta-item">{{ publishedDate }}</span>
    </div>
    <h2 class="post-preview__title">
      <a href="{{ fullSlug }}">{{ title }}</a>
    </h2>
    <p class="post-preview__excerpt">
      {{ leading }}
    </p>
    {% if publishedExternally %}
      <div class="post-preview__footer">
        <img src="{{ publishedExternally.image }}" class="post-preview__footer-image" />
        <p>Published at
          <a href="{{ publishedExternally.href }}" target="_blank">{{ publishedExternally.text }}</a>
        </p>
      </div>
    {% endif %}
  </article>
</div>