<div class="[ cq--project-preview ]">
  <article class="project-preview">
    <div class="project-preview__image-wrapper">
      {% if featuredImage %}
        <img
          src="{{ featuredImage }}"
          alt=""
          class="project-preview__image" />
      {% endif %}
    </div>
    <div class="project-preview__content">
      <h2 class="project-preview__title">
        <a href="{{ fullSlug }}">
          {{ title }}
        </a>
      </h2>
      <p class="project-preview__tagline">
        {{ tagline }}
      </p>
      <a href="{{ tagSlug }}" class="tag">{{ tag.title }}</a>
    </div>
  </article>
</div>