---
import {getCollection} from "astro:content";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import SiteFooter from "../components/SiteFooter.astro";
import SiteHeader from "../components/SiteHeader.astro";
import Close from "../icons/Close.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import PortableText from "../components/portableText/PortableText.astro";
import {urlFor} from "../data/_utils";

export async function getStaticPaths() {
    const creations = await getCollection('creations');
    return creations.map((result: any) => ({
        params: {
            creationSlug: result.data.fullSlug,
        },
        props: {
            creation: result.data,
        }
    }))
}

const {creation} = Astro.props;
---

<BaseLayout
        metaTitle={creation.title}
        metaDescription={creation.leading}
        metaImageUrl={creation.featuredImage && urlFor(creation.featuredImageRaw).width(1200).url()}
>
  <div class="l-site">
    <SiteHeader/>
    <main>
      <div class="l-constraint">
        <Breadcrumbs items={creation.breadcrumbs} current={creation.title}/>
        <article class="post">
          <header class="post__header">
              {
                  creation.featuredImage && creation.showAsBanner && (
                              <figure class="post__featured-image">
                                <picture data-dialog-trigger>
                                  <source
                                      media="(max-width: 600px)"
                                      srcset={urlFor(creation.featuredImageRaw).width(600).url()}
                                  />
                                  <img
                                      src={urlFor(creation.featuredImageRaw).width(800).url()}
                                      alt=""
                                      loading="lazy"
                                  />
                                </picture>
                                <dialog class="image-dialog">
                                  <figure>
                                    <picture>
                                      <source
                                          media="(max-width: 600px)"
                                          srcset={urlFor(creation.featuredImageRaw).width(400).fit("max").url()}
                                      />
                                      <source
                                          media="(max-width: 1000px)"
                                          srcset={urlFor(creation.featuredImageRaw).width(1000).fit("max").url()}
                                      />
                                      <source
                                          media="(max-width: 1200px)"
                                          srcset={urlFor(creation.featuredImageRaw).width(1200).fit("max").url()}
                                      />
                                      <source
                                          media="(max-width: 1600px)"
                                          srcset={urlFor(creation.featuredImageRaw).width(1600).fit("max").url()}
                                      />
                                      <img
                                          src={urlFor(creation.featuredImageRaw).width(2000).fit("max").url()}
                                          alt=""
                                          loading="lazy"
                                      />
                                    </picture>
                                    <button class="image-dialog__close">
                                      <Close/>
                                    </button>
                                  </figure>
                                </dialog>
                              </figure>
                  )
              }
            <div class="post__meta">
              <a href={creation.tag.slug} class="tag">{creation.tag.title}</a>
            </div>
            <h1 class="post__title">{creation.title}</h1>
            <p class="post__leading">{creation.leading}</p>
          </header>
          <div class="post__body | u-rich-text">
            <dl class="details-block">
                {
                    creation.detailsList.map((item: any) => (
                            <div class="details-block__item">
                              <dt class="details-block__term">{item.title}</dt>
                              <dd class="details-block__detail">
                                  {item.isLinked ? (
                                          <a
                                                  href={item.href}
                                                  target="_blank"
                                                  class="details-block__link"
                                          >
                                              {item.subtitle}
                                          </a>
                                  ) : item.subtitle}
                              </dd>
                            </div>
                    ))
                }
            </dl>
            <div class="u-rich-text" >
              <PortableText portableText={creation.body} />
            </div>
          </div>
        </article>
      </div>
    </main>
    <SiteFooter/>
  </div>
</BaseLayout>
