---
import SiteFooter from "../components/SiteFooter.astro";
import SiteHeader from "../components/SiteHeader.astro";
import { getSubPageData } from "../data/subpage";
import BaseLayout from "../layouts/BaseLayout.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";

export async function getStaticPaths() {
    const subPages = await getSubPageData();
    return await Promise.all(
        subPages.map(async (subPage: any) => {
            return {
                params: {
                    subPageSlug: subPage.slug,
                },
                props: {
                    subPage: subPage,
                },
            };
        }),
    );
}

const { subPage } = Astro.props;
---

<BaseLayout metaTitle={subPage.title} metaDescription={subPage.leading}>
    <div class="l-site">
        <SiteHeader />
        <main>
            <div class="l-constraint">
              <Breadcrumbs current={subPage.title} />
                <div class="page">
                    <div class="page__column">
                        <h2 class="page__title">{subPage.title}</h2>
                        {
                            subPage.leading && (
                                <p class="page__intro">{subPage.leading}</p>
                            )
                        }
                        {
                            subPage.body && (
                                <div
                                    class="page__body | u-rich-text"
                                    set:html={subPage.body}
                                />
                            )
                        }
                    </div>
                </div>
            </div>
        </main>
        <SiteFooter />
    </div>
</BaseLayout>
