---
import PostPreview from "../components/PostPreview.astro";
import SiteFooter from "../components/SiteFooter.astro";
import SiteHeader from "../components/SiteHeader.astro";
import { getArticleArchiveData } from "../data/articleArchive";
import Rss from "../icons/Rss.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";

export async function getStaticPaths() {
    const articleArchive = await getArticleArchiveData();

    return [
        {
            params: {
                articleArchiveSlug: articleArchive.slug,
            },
            props: {
                articleArchive: articleArchive
            },
        },
    ];
}

let { articleArchive } = Astro.props;
---

<BaseLayout metaTitle={articleArchive.title} metaDescription={articleArchive.leading}>
    <div class="l-site">
        <SiteHeader />
        <main>
            <div class="l-constraint">
                <Breadcrumbs current={articleArchive.title} />
                <div class="archive-page">
                    <div class="archive-page__header">
                        <h2 class="archive-page__title">
                            {articleArchive.title}
                        </h2>
                        <div
                            class="archive-page__intro | u-rich-text"
                            set:html={articleArchive.leading}
                        />
                        <div class="archive-page__rss">
                            <a href="/feed.xml" class="rss-link">
                                <span class="rss-link__icon">
                                    <Rss />
                                </span>
                                <div class="rss-link__content">
                                    <span class="rss-link__title"
                                        >Stay up to date</span
                                    >
                                    <span class="rss-link__desc"
                                        >Subscribe to feed</span
                                    >
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="posts">
                        <ul class="posts-list">
                            {
                                articleArchive.articles.map((item: any) => (
                                    <li class="posts-list__item">
                                        <PostPreview
                                            title={item.title}
                                            excerpt={item.leading}
                                            slug={item.fullSlug}
                                            readingTime={item.readingTime}
                                            publishedDate={item.publishedDate}
                                            tag={{
                                                title: item.tag.title,
                                                href: item.tag.slug,
                                            }}
                                            external={{
                                                image: item.publishedExternally
                                                    ?.image,
                                                href: item.publishedExternally
                                                    ?.href,
                                                text: item.publishedExternally
                                                    ?.text,
                                            }}
                                        />
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <SiteFooter />
    </div>
</BaseLayout>
