---
import Breadcrumbs from "../components/Breadcrumbs.astro";
import ProjectPreview from "../components/ProjectPreview.astro";
import SiteFooter from "../components/SiteFooter.astro";
import SiteHeader from "../components/SiteHeader.astro";
import { getCreationArchiveData } from "../data/creationArchive";
import BaseLayout from "../layouts/BaseLayout.astro";
import {getCollection} from "astro:content";

export async function getStaticPaths() {
    const creationArchiveData = await getCreationArchiveData();
    const creationsCollection = await getCollection('creations');

    let creations: any[] = [];

    creationArchiveData.creationList.map((selectedCreation: any) => {
        creationsCollection.map((creation: any) => {
            if (selectedCreation._id === creation.data._id) {
                creations.push(creation.data);
            }
        })
    })

    return [
        {
            params: {
                creationArchiveSlug: creationArchiveData.slug,
            },
            props: {
                creationArchive: creationArchiveData,
                creations: creations
            },
        },
    ];
}

let { creationArchive, creations } = Astro.props;
---

<BaseLayout metaTitle={creationArchive.title}>
    <div class="l-site">
        <SiteHeader />
        <main>
            <div class="l-constraint">
                <Breadcrumbs current={creationArchive.title} />
                <div class="archive-page">
                    <div class="archive-page__header">
                        <h2 class="archive-page__title">
                            {creationArchive.title}
                        </h2>
                        <div
                            class="archive-page__intro | u-rich-text"
                            set:html={creationArchive.leading}
                        />
                    </div>
                    <div class="projects">
                        <ul class="projects__list">
                            {
                                creations.map((item: any) => (
                                    <li class="projects__item">
                                        <ProjectPreview
                                            title={item.title}
                                            image={item.featuredImage}
                                            slug={item.fullSlug}
                                            tagline={item.tagline}
                                            tag={item.tag}
                                        />
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <SiteFooter />
    </div>
</BaseLayout>
