---
import SiteFooter from "../components/SiteFooter.astro";
import SiteHeader from "../components/SiteHeader.astro";
import { client } from "../data/_sanityClient";
import { getArticleData } from "../data/article";
import Close from "../icons/Close.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const data = await client.fetch(`*[_type == "article"]`);

  const slugs = await Promise.all(data.map(async (post: any) => {
    const article = await getArticleData(post.slug.current);
    return {
      params: {
        postSlug: post.slug.current,
      },
      props: {
        post: article
      }
    };
  }))

  return slugs;
}  

const { post } = Astro.props;
---

<BaseLayout metaTitle="Hello World">
  <div class="l-site">
    <SiteHeader />
    <main>
      <div class="l-constraint">
        <ol class="breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="/" class="breadcrumbs__link">Home</a>
          </li>
          {post.breadcrumbs.map((item: any) => (
            <li class="breadcrumbs__item">
                <a href={item.slug} class="breadcrumbs__link">{item.title}</a>
            </li>
          ))}
          <li class="breadcrumbs__item">
            <span title={post.title}>{ post.title }</span>
          </li>
        </ol>
        <article class="post">
          <header class="post__header">
            {(post.featuredImage && post.showAsBanner) && (
              <figure class="post__featured-image">
                <img
                  src={post.featuredImage}
                  alt=""
                  data-dialog-trigger />
                <dialog class="image-dialog">
                  <figure>
                    <img src={post.featuredImage} alt="" />
                    <button class="image-dialog__close">
                      <Close />
                    </button>
                  </figure>
                </dialog>
              </figure>
            )}
            <div class="post__meta">
              <a href={post.tagSlug} class="tag">{ post.tag.title}</a>
              <span class="post__meta-item">{post.readingTime} minute read</span>
              <span class="post__meta-item">{post.publishedDate}</span>
            </div>
            <h1 class="post__title">{ post.title }</h1>
            {post.leading && (
              <p class="post__leading">
                {post.leading}
              </p>
            )}
          </header>
          <div class="post__body | u-rich-text" set:html={post.body}></div>
        </article>
      </div>
    </main>
    <SiteFooter />
  </div>
</BaseLayout>
