---
import {getCollection} from "astro:content";
import Hero from "../components/Hero.astro";
import PostPreview from "../components/PostPreview.astro";
import ProjectPreview from "../components/ProjectPreview.astro";
import SiteFooter from "../components/SiteFooter.astro";
import SiteHeader from "../components/SiteHeader.astro";
import {getFrontPageData} from "../data/frontPage";
import BaseLayout from "../layouts/BaseLayout.astro";

const frontPage = await getFrontPageData();
const articles = await getCollection('articles');
const creations = await getCollection('creations');

let featuredArticles: any[] = [];
let featuredCreations: any[] = [];

frontPage.articles.items.map((selectedArticle: any) => {
  articles.map((article: any) => {
    if (selectedArticle._id === article.data._id) {
      featuredArticles.push(article.data);
    }
  })
})

frontPage.featuredArticles = featuredArticles;

frontPage.creations.items.map((selectedCreation: any) => {
  creations.map((creation: any) => {
    if (selectedCreation._id === creation.data._id) {
      featuredCreations.push(creation.data);
    }
  })
})

frontPage.featuredCreations = featuredCreations;

---

<BaseLayout metaTitle="Home">
  <div class="l-site">
    <SiteHeader/>
    <main>
      <div class="l-constraint">
        <Hero
                title={frontPage.hero.title}
                intro={frontPage.hero.intro}
        />
        <section class="section section--featured-creations">
          <h2 class="section__title">{frontPage.creations.title}</h2>
          <ul class="section__grid">
              {
                  frontPage.featuredCreations.map((creation: any) => (
                          <li class="section__grid-item">
                            <ProjectPreview
                                    title={creation.title}
                                    image={creation.featuredImage}
                                    slug={creation.fullSlug}
                                    tagline={creation.tagline}
                                    tag={creation.tag}
                            />
                          </li>
                  ))
              }
          </ul>
        </section>
        <section class="section section--featured-posts">
          <h2 class="section__title">{frontPage.articles.title}</h2>
          <ul class="section__list">
              {
                  frontPage.featuredArticles.map((article: any) => (
                          <li class="section__list-item">
                            <PostPreview
                                    title={article.title}
                                    excerpt={article.leading}
                                    slug={article.fullSlug}
                                    readingTime={article.readingTime}
                                    publishedDate={article.publishedDate}
                                    tag={article.tag}
                                    external={{
                                        image: article.publishedExternally
                                            ?.image,
                                        href: article.publishedExternally
                                            ?.href,
                                        text: article.publishedExternally
                                            ?.text,
                                    }}
                            />
                          </li>
                  ))
              }
          </ul>
        </section>
      </div>
    </main>
    <SiteFooter/>
  </div>
</BaseLayout>
