---
layout: base
permalink: "/{{ aboutPage.slug }}/index.html"
---

<main>
  <div class="l-constraint">
    <div class="page">
      <div class="page__column">
        <h2 class="page__title">{{ aboutPage.title }}</h2>
        <p class="page__intro">
          {{ aboutPage.leading }}
        </p>
        <div class="page__body | u-rich-text">
          {% if aboutPage.callout %}
            <div class="[ cq--callout ]">
              <a href="{{ aboutPage.callout.href }}" class="callout">
                <img
                  src="{{ aboutPage.callout.image }}"
                  alt=""
                  class="callout__image" />
                <span class="callout__text">{{ aboutPage.callout.text }}</span>
                <span class="callout__icon">{% include "icons/arrowUp" %}</span>
              </a>
            </div>
          {% endif %}
          {{ aboutPage.body }}
        </div>
      </div>
      <div class="page__column">
        <img src="{{ aboutPage.profileImage }}" class="page__image" />
      </div>
    </div>
  </div>
</main>