---
layout: base
---

<main>
  <div class="l-constraint">
    <ol class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__link">Home</a>
      </li>
      {% for item in creation.breadcrumbs %}
        <li class="breadcrumbs__item">
          {% if item.slug %}
            <a href="{{ item.slug }}" class="breadcrumbs__link">{{ item.title }}</a>
          {% else %}
          {% endif %}
        </li>
      {% endfor %}
      <li class="breadcrumbs__item">
        <span title="{{ creation.title }}">{{ creation.title }}</span>
      </li>
    </ol>
    <article class="post">
      <header class="post__header">
        {% if creation.featuredImage and creation.showAsBanner == true %}
          <figure class="post__featured-image">
            <img
              src="{{ creation.featuredImage }}"
              alt=""
              data-dialog-trigger />
            <dialog class="image-dialog">
              <figure>
                <img src="{{ creation.featuredImage }}" alt="" />
                <button class="image-dialog__close">
                  {% include "icons/close" %}
                </button>
              </figure>
            </dialog>
          </figure>
        {% endif %}
        <div class="post__meta">
          {% if creation.tagSlug %}
            <a href="{{ creation.tagSlug }}" class="tag">{{ creation.tag.title }}</a>
          {% endif %}
        </div>
        <h1 class="post__title">{{ creation.title }}</h1>
        {% if creation.leading %}
          <p class="post__leading">{{ creation.leading }}</p>
        {% endif %}
      </header>
      {% if creation.body %}
        <div class="post__body | u-rich-text">
          {% if creation.detailsList %}
            <dl class="details-block">
              {% for item in creation.detailsList %}
                <div class="details-block__item">
                  <dt class="details-block__term">{{ item.title }}</dt>
                  <dd class="details-block__detail">
                    {% if item.isLinked %}
                      <a
                        href="{{ item.href }}"
                        target="_blank"
                        class="details-block__link">
                        {{ item.subtitle }}
                      </a>
                    {% else %}
                      {{ item.subtitle }}
                    {% endif %}
                  </dd>
                </div>
              {% endfor %}
            </dl>
          {% endif %}
          {{ creation.body }}
        </div>
      {% endif %}
    </article>
  </div>
</main>