---
layout: base
---

<main>
  <div class="l-constraint">
    <ol class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__link">Home</a>
      </li>
      {% for item in article.breadcrumbs %}
        <li class="breadcrumbs__item">
          {% if item.slug %}
            <a href="{{ item.slug }}" class="breadcrumbs__link">{{ item.title }}</a>
          {% else %}
          {% endif %}
        </li>
      {% endfor %}
      <li class="breadcrumbs__item">
        <span title="{{ article.title }}">{{ article.title }}</span>
      </li>
    </ol>
    <article class="post">
      <header class="post__header">
        {% if article.featuredImage and article.showAsBanner == true %}
          <figure class="post__featured-image">
            <img src="{{ article.featuredImage }}" alt="" />
          </figure>
        {% endif %}
        <div class="post__meta">
          {% if article.tagSlug %}
            <a href="{{ article.tagSlug }}" class="tag">{{ article.tag.title }}</a>
          {% endif %}
          {% if article.readingTime %}
            <span class="post__meta-item">{{ article.readingTime }} minute read</span>
          {% endif %}
          <span class="post__meta-item">{{ article.publishedDate }}</span>
        </div>
        <h1 class="post__title">{{ article.title }}</h1>
        {% if article.leading %}
          <p class="post__leading">{{ article.leading }}</p>
        {% endif %}
      </header>
      {% if article.body or article.publishedExternally %}
        <div class="post__body | u-rich-text">
          {% if article.publishedExternally %}
            <div class="[ cq--callout ]">
              <a
                href="{{ article.publishedExternally.href }}"
                class="callout"
                target="_blank">
                <img
                  src="{{ article.publishedExternally.image }}"
                  alt=""
                  class="callout__image" />
                <span class="callout__text">This post was originally written and published at
                  <strong>{{ article.publishedExternally.text }}</strong>. Click to read it there</span>
              </a>
            </div>
          {% endif %}
          {{ article.body }}
        </div>
      {% endif %}
    </article>
  </div>
</main>