---
layout: base
---

<main>
  <div class="l-constraint">
    <ol class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__link">Home</a>
      </li>
      <li class="breadcrumbs__item">
        {% if tag.type == "article" %}
          <a href="/{{ articleArchive.slug }}" class="breadcrumbs__link">{{ articleArchive.title }}</a>
        {% endif %}
        {% if tag.type == "creation" %}
          <a href="/{{ creationArchive.slug }}" class="breadcrumbs__link">{{ creationArchive.title }}</a>
        {% endif %}
      </li>
      <li class="breadcrumbs__item">
        <span title="{{ tag.title }}">{{ tag.title }}</span>
      </li>
    </ol>
    <div class="archive-page">
      <div class="archive-page__header">
        <h2 class="archive-page__title">
          {% if tag.type == "article" %}
            {{ articleArchive.title }}
          {% endif %}
          {% if tag.type == "creation" %}
            {{ creationArchive.title }}
          {% endif %}
        </h2>
        <div class="archive-page__intro | u-rich-text">
          {% if tag.type == "article" %}
            Posts tagged "{{ tag.title }}"
          {% endif %}
          {% if tag.type == "creation" %}
            Creations tagged "{{ tag.title }}"
          {% endif %}
        </div>
      </div>
      {% if tag.type == "article" %}
        <div class="posts">
          <ul class="posts-list">
            {% assign sortedArticles = collections.articlesCollection | sort: "data.article.dateForSorting" | reverse %}
            {% for post in sortedArticles %}
              {% if post.data.article.tag.title == tag.title %}
                <li class="posts-list__item">
                  {% include "components/postPreview" 
 title: post.data.article.title
 leading: post.data.article.leading
 readingTime: post.data.article.readingTime
 publishedDate: post.data.article.publishedDate
 tag: post.data.article.tag
 tagSlug: post.data.article.tagSlug
 fullSlug: post.data.page.url
 publishedExternally: post.data.article.publishedExternally
                  %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if tag.type == "creation" %}
        <div class="projects">
          <ul class="projects__list">
            {% for item in collections.creationCollection %}
              {% if item.data.creation.tag.title == tag.title %}
                <li class="projects__item">
                  {% include "components/projectPreview"
 featuredImage: item.data.creation.featuredImage
 title: item.data.creation.title
 fullSlug: item.data.creation.fullSlug
 tagline: item.data.creation.tagline
 tag: item.data.creation.tag
 tagSlug: item.data.creation.tagSlug
                  %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
</main>