---
interface Props {
    slug: string;
    tag?: {
        title: string,
        slug: string
    },
    tags?: [
        {
            title: string,
            slug: string
        },
    ],
    readingTime: string;
    publishedDate: string;
    title: string;
    excerpt?: string;
    external?: {
        image: string,
        href: string,
        text: string
    };
}

const {
    slug,
    tag,
    tags,
    readingTime,
    publishedDate,
    title,
    excerpt,
    external,
} = Astro.props;
---

<div class="[ cq--post-preview ]">
  <article class="post-preview">
    <div class="post-preview__meta">
      <span class="post-preview__meta-item">{publishedDate}</span>
      <span class="post-preview__meta-item">{readingTime} minute read</span>
        {(tags && tags.length > 0) ? tags?.map((tag: any) => (
          <span>
            <a href={tag.slug} class="tag">{tag.title}</a>
          </span>
        )) : (
            tag && (
                <span>
            <a href={tag?.slug} class="tag">{tag?.title}</a>
          </span>
            )
        )}
    </div>
    <h2 class="post-preview__title">
      <a href={slug}>{title}</a>
    </h2>
      {excerpt && <p class="post-preview__excerpt">{excerpt}</p>}
    <>
    {
        external?.href && (
        <div class="post-preview__footer">
          <img class="post-preview__footer-image" src={external?.image} alt="" />
          <p>
            Published at
            <a href={external?.href} target="_blank">
                {external?.text}
            </a>
          </p>
        </div>
        )
    }
    </>
  </article>
</div>